



# ----------------------------------------------------------------------
# Start rewrite engine
# ----------------------------------------------------------------------

# Turning on the rewrite engine is necessary for the following rules and features.
# FollowSymLinks must be enabled for this to work.

<IfModule mod_rewrite.c>
  Options +FollowSymlinks
  RewriteEngine On
</IfModule>



<IfModule mod_rewrite.c>

  Options +FollowSymlinks -MultiViews

  # Rewrite "domain.com/foo/ -> domain.com/foo"
  # RewriteRule ^(.*)/$ $1 [R=301,L]

  RewriteCond %{REQUEST_FILENAME} !-d
  RewriteCond %{QUERY_STRING} !^myvar=0
  RewriteCond %{REQUEST_URI} !\..*$
  RewriteRule ^(.*)$ /$1.php?myvar=0 [QSA,L]

  # but don't allow example.com/foo.php
  RewriteCond  %{QUERY_STRING} !^myvar=0$
  RewriteRule \.php$ - [R=404,L]


  ErrorDocument 404 /404.php

  # I broke Kelly's page so had to rewrite the link we sent out to a new URL:
  RewriteRule ^conference/kelly-goto/beyond-usable-by-kelly-goto\.pdf$ /conference/beyond-usability-by-kelly-goto.pdf [R]


</IfModule>




# ----------------------------------------------------------------------
# Prevent 404 errors for non-existing redirected folders
# ----------------------------------------------------------------------

# without -MultiViews, Apache will give a 404 for a rewrite if a folder of the same name does not exist 
#   e.g. /blog/hello : webmasterworld.com/apache/3808792.htm

Options -MultiViews 



# ----------------------------------------------------------------------
# custom 404 page
# ----------------------------------------------------------------------

# You can add custom pages to handle 500 or 403 pretty easily, if you like.
ErrorDocument 404 /404.php



# ----------------------------------------------------------------------
# UTF-8 encoding
# ----------------------------------------------------------------------

# use utf-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# force utf-8 for a number of file formats
AddCharset utf-8 .html .css .js .xml .json .rss



# ----------------------------------------------------------------------
# A little more security
# ----------------------------------------------------------------------


# Do we want to advertise the exact version number of Apache we're running?
# Probably not.
## This can only be enabled if used in httpd.conf - It will not work in .htaccess
# ServerTokens Prod


# "-Indexes" will have Apache block users from browsing folders without a default document
# Usually you should leave this activated, because you shouldn't allow everybody to surf through
# every folder on your server (which includes rather private places like CMS system folders).
Options -Indexes


# Block access to "hidden" directories whose names begin with a period. This
# includes directories used by version control systems such as Subversion or Git.
<IfModule mod_rewrite.c>
  RewriteRule "(^|/)\." - [F]
</IfModule>

